<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="vnd.android.cursor.dir/contact" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.APP_CONTACTS" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.APP_MESSAGING" />
        </intent>
        <intent>
            <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.settings.SETTINGS" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CREATE_NOTE" />
        </intent>
        <intent>
            <action android:name="action.nearme.note.textnote" />
        </intent>
        <intent>
            <action android:name="com.android.intent.action.NEW_EDIT_NOTE" />
        </intent>
        <intent>
            <action android:name="gd.app.note.VIEW_NOTE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="notes" />
        </intent>
        <package android:name="com.android.settings" />
        <package android:name="gd.app.note" />
        <package android:name="gd.app.calendar" />
        <package android:name="gd.app.quicksearch" />
    </queries>

    <application
        android:name=".HiboardApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:forceDarkAllowed="false"
        android:theme="@style/Theme.Hiboard">

        <!-- Standalone host. ColorOS injects a View into the launcher instead;
             HiboardViewController is the equivalent embed contract. -->
        <activity
            android:name=".HiboardActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Hiboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="hiboard" />
            </intent-filter>
        </activity>

        <activity
            android:name=".deeplink.DeeplinkActivity"
            android:exported="true"
            android:theme="@style/Theme.Hiboard.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="assistantscreen" />
            </intent-filter>
        </activity>
    </application>
</manifest>
